<a href="https://colab.research.google.com/github/2303A51833/ADM/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [7]:
df=pd.read_csv('/content/employee_data.csv')
print(df)

    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [8]:
df.describe()

,Employee_ID,Age,Salary,Job_Satisfaction,Work_Hours_Per_Week
count,50.00000,45.000000,45.000000,40.000000,50.000000
mean,1025.50000,39.177778,72349.200000,5.550000,44.720000
std,14.57738,10.869659,26170.218818,2.726414,9.722769
min,1001.00000,23.000000,31016.000000,1.000000,30.000000
25%,1013.25000,30.000000,52662.000000,3.000000,36.000000
50%,1025.50000,39.000000,70757.000000,6.000000,46.000000
75%,1037.75000,47.000000,92592.000000,7.000000,53.750000
max,1050.00000,59.000000,119812.000000,10.000000,59.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          50 non-null     int64
 1   Age                  45 non-null     float64
 2   Salary               45 non-null     float64
 3   Job_Satisfaction     40 non-null     float64
 4   Work_Hours_Per_Week  50 non-null     int64
dtypes: float64(3), int64(2)
memory usage: 2.1 KB

In [23]:
df.isnull().sum()

Employee_ID             0
Age                     5
Salary                  5
Job_Satisfaction       10
Work_Hours_Per_Week     0
dtype: int64

In [10]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [12]:
df['Job_Satisfaction'].mean()

5.55

In [16]:
df['Work_Hours_Per_Week'].mean()

44.72

In [17]:
df['Age'].mean()

39.17777777777778

In [18]:
df['Salary'].mean()

72349.2

In [19]:
df['Job_Satisfaction'].median()

6.0

In [20]:
df['Work_Hours_Per_Week'].median()

46.0

In [21]:
df['Age'].median()

39.0

In [22]:
df['Salary'].median()

70757.0

In [24]:
df['Job_Satisfaction'].mode()

0    7.0
Name: Job_Satisfaction, dtype: float64

In [25]:
df['Work_Hours_Per_Week'].mode()

0    46
Name: Work_Hours_Per_Week, dtype: int64

In [26]:
df['Age'].mode()

0    23.0
Name: Age, dtype: float64

In [27]:
df['Salary'].mode()

0      31016.0
1      32568.0
2      32695.0
3      33561.0
4      35258.0
5      39268.0
6      39692.0
7      41534.0
8      42185.0
9      42666.0
10     43986.0
11     52662.0
12     53247.0
13     54300.0
14     56854.0
15     63159.0
16     67065.0
17     68044.0
18     68660.0
19     69099.0
20     69504.0
21     70397.0
22     70757.0
23     70774.0
24     75758.0
25     78190.0
26     78984.0
27     81214.0
28     82251.0
29     82995.0
30     85591.0
31     91228.0
32     91858.0
33     92592.0
34     93704.0
35     94505.0
36     95697.0
37     97563.0
38    102409.0
39    104065.0
40    108953.0
41    112798.0
42    116807.0
43    119789.0
44    119812.0
Name: Salary, dtype: float64

In [28]:

df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].mean(), inplace=True)

<ipython-input-28-69ada0b06065>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].mean(), inplace=True)

In [29]:



df['Job_Satisfaction'] = df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].mean())

In [30]:
df['Work_Hours_Per_Week'] =df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mean())

In [31]:


df['Age'] = df['Age'].fillna(df['Age'].mean())

In [32]:


df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [33]:
df

    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.000000  108953.0              9.00                   36
1          1002  36.000000   82995.0              8.00                   59
2          1003  29.000000   70757.0              2.00                   30
3          1004  42.000000   39692.0              1.00                   30
4          1005  40.000000   75758.0              7.00                   54
5          1006  44.000000  102409.0              7.00                   56
6          1007  32.000000   72349.2              5.55                   59
7          1008  32.000000   95697.0              5.00                   54
8          1009  45.000000   67065.0              3.00                   49
9          1010  57.000000   72349.2              8.00                   42
10         1011  45.000000   41534.0              6.00                   38
11         1012  39.177778   70397.0              5.55                   32
12         1013  43.000000   31016.0              5.55                   36
13         1014  23.000000  119789.0              1.00                   35
14         1015  45.000000   85591.0              3.00                   37
15         1016  51.000000  119812.0              5.00                   56
16         1017  59.000000   53247.0              3.00                   38
17         1018  23.000000   54300.0              1.00                   59
18         1019  42.000000  104065.0              5.00                   34
19         1020  54.000000  112798.0             10.00                   30
20         1021  33.000000   39268.0              7.00                   48
21         1022  43.000000  116807.0              7.00                   39
22         1023  46.000000   42185.0              5.55                   41
23         1024  48.000000   93704.0              9.00                   53
24         1025  49.000000   72349.2             10.00                   44
25         1026  37.000000   69099.0              5.55                   56
26         1027  36.000000   72349.2              3.00                   51
27         1028  24.000000   68044.0              7.00                   53
28         1029  58.000000   81214.0              1.00                   38
29         1030  28.000000   91228.0              4.00                   49
30         1031  39.177778   78984.0              4.00                   46
31         1032  30.000000   70774.0              5.55                   59
32         1033  39.000000   32568.0              7.00                   46
33         1034  25.000000   92592.0              7.00                   55
34         1035  39.177778   97563.0              5.55                   49
35         1036  35.000000   32695.0              4.00                   41
36         1037  30.000000   78190.0              7.00                   59
37         1038  47.000000   35258.0              5.55                   36
38         1039  23.000000   72349.2              3.00                   31
39         1040  39.177778   69504.0              6.00                   32
40         1041  49.000000   63159.0              2.00                   46
41         1042  28.000000   43986.0             10.00                   34
42         1043  29.000000   91858.0              9.00                   46
43         1044  56.000000   42666.0              5.00                   53
44         1045  35.000000   68660.0              6.00                   46
45         1046  38.000000   33561.0              4.00                   56
46         1047  57.000000   56854.0              5.55                   46
47         1048  25.000000   94505.0              5.55                   31
48         1049  23.000000   82251.0              7.00                   31
49         1050  39.177778   52662.0              9.00                   57

In [34]:
df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mean(),inplace=True)

<ipython-input-34-635897f150a3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mean(),inplace=True)

In [35]:

print("Dataset after handling missing values:")
print(df)

Dataset after handling missing values:
    Employee_ID        Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.000000  108953.0              9.00                   36
1          1002  36.000000   82995.0              8.00                   59
2          1003  29.000000   70757.0              2.00                   30
3          1004  42.000000   39692.0              1.00                   30
4          1005  40.000000   75758.0              7.00                   54
5          1006  44.000000  102409.0              7.00                   56
6          1007  32.000000   72349.2              5.55                   59
7          1008  32.000000   95697.0              5.00                   54
8          1009  45.000000   67065.0              3.00                   49
9          1010  57.000000   72349.2              8.00                   42
10         1011  45.000000   41534.0              6.00                   38
11         1012  39.177778   70397.0              5.55                   32
12         1013  43.000000   31016.0              5.55                   36
13         1014  23.000000  119789.0              1.00                   35
14         1015  45.000000   85591.0              3.00                   37
15         1016  51.000000  119812.0              5.00                   56
16         1017  59.000000   53247.0              3.00                   38
17         1018  23.000000   54300.0              1.00                   59
18         1019  42.000000  104065.0              5.00                   34
19         1020  54.000000  112798.0             10.00                   30
20         1021  33.000000   39268.0              7.00                   48
21         1022  43.000000  116807.0              7.00                   39
22         1023  46.000000   42185.0              5.55                   41
23         1024  48.000000   93704.0              9.00                   53
24         1025  49.000000   72349.2             10.00                   44
25         1026  37.000000   69099.0              5.55                   56
26         1027  36.000000   72349.2              3.00                   51
27         1028  24.000000   68044.0              7.00                   53
28         1029  58.000000   81214.0              1.00                   38
29         1030  28.000000   91228.0              4.00                   49
30         1031  39.177778   78984.0              4.00                   46
31         1032  30.000000   70774.0              5.55                   59
32         1033  39.000000   32568.0              7.00                   46
33         1034  25.000000   92592.0              7.00                   55
34         1035  39.177778   97563.0              5.55                   49
35         1036  35.000000   32695.0              4.00                   41
36         1037  30.000000   78190.0              7.00                   59
37         1038  47.000000   35258.0              5.55                   36
38         1039  23.000000   72349.2              3.00                   31
39         1040  39.177778   69504.0              6.00                   32
40         1041  49.000000   63159.0              2.00                   46
41         1042  28.000000   43986.0             10.00                   34
42         1043  29.000000   91858.0              9.00                   46
43         1044  56.000000   42666.0              5.00                   53
44         1045  35.000000   68660.0              6.00                   46
45         1046  38.000000   33561.0              4.00                   56
46         1047  57.000000   56854.0              5.55                   46
47         1048  25.000000   94505.0              5.55                   31
48         1049  23.000000   82251.0              7.00                   31
49         1050  39.177778   52662.0              9.00                   57

In [36]:

from sklearn.preprocessing import MinMaxScaler

In [37]:
scaler = MinMaxScaler()

In [38]:
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

In [40]:
df[['Job_Satisfaction']] =scaler.fit_transform(df[[ 'Job_Satisfaction']])

In [41]:
df['Job_Satisfaction']

0     0.888889
1     0.777778
2     0.111111
3     0.000000
4     0.666667
5     0.666667
6     0.505556
7     0.444444
8     0.222222
9     0.777778
10    0.555556
11    0.505556
12    0.505556
13    0.000000
14    0.222222
15    0.444444
16    0.222222
17    0.000000
18    0.444444
19    1.000000
20    0.666667
21    0.666667
22    0.505556
23    0.888889
24    1.000000
25    0.505556
26    0.222222
27    0.666667
28    0.000000
29    0.333333
30    0.333333
31    0.505556
32    0.666667
33    0.666667
34    0.505556
35    0.333333
36    0.666667
37    0.505556
38    0.222222
39    0.555556
40    0.111111
41    1.000000
42    0.888889
43    0.444444
44    0.555556
45    0.333333
46    0.505556
47    0.505556
48    0.666667
49    0.888889
Name: Job_Satisfaction, dtype: float64

In [43]:
df[['Work_Hours_Per_Week']] = scaler.fit_transform(df[[ 'Work_Hours_Per_Week']])

In [44]:
df['Work_Hours_Per_Week']

0     0.206897
1     1.000000
2     0.000000
3     0.000000
4     0.827586
5     0.896552
6     1.000000
7     0.827586
8     0.655172
9     0.413793
10    0.275862
11    0.068966
12    0.206897
13    0.172414
14    0.241379
15    0.896552
16    0.275862
17    1.000000
18    0.137931
19    0.000000
20    0.620690
21    0.310345
22    0.379310
23    0.793103
24    0.482759
25    0.896552
26    0.724138
27    0.793103
28    0.275862
29    0.655172
30    0.551724
31    1.000000
32    0.551724
33    0.862069
34    0.655172
35    0.379310
36    1.000000
37    0.206897
38    0.034483
39    0.068966
40    0.551724
41    0.137931
42    0.551724
43    0.793103
44    0.551724
45    0.896552
46    0.551724
47    0.034483
48    0.034483
49    0.931034
Name: Work_Hours_Per_Week, dtype: float64

In [45]:
df['Work_Hours_Per_Week'] = (df['Work_Hours_Per_Week'] - df['Work_Hours_Per_Week'].mean()) / df['Work_Hours_Per_Week'].std()

In [46]:
df

    Employee_ID       Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  0.750000  0.877708          0.888889            -0.896864
1          1002  0.361111  0.585375          0.777778             1.468717
2          1003  0.166667  0.447554          0.111111            -1.513972
3          1004  0.527778  0.097707          0.000000            -1.513972
4          1005  0.472222  0.503874          0.666667             0.954461
5          1006  0.583333  0.804011          0.666667             1.160163
6          1007  0.250000  0.465485          0.505556             1.468717
7          1008  0.250000  0.728422          0.444444             0.954461
8          1009  0.611111  0.405975          0.222222             0.440204
9          1010  0.944444  0.465485          0.777778            -0.279756
10         1011  0.611111  0.118451          0.555556            -0.691161
11         1012  0.449383  0.443500          0.505556            -1.308269
12         1013  0.555556  0.000000          0.505556            -0.896864
13         1014  0.000000  0.999741          0.000000            -0.999715
14         1015  0.611111  0.614611          0.222222            -0.794012
15         1016  0.777778  1.000000          0.444444             1.160163
16         1017  1.000000  0.250360          0.222222            -0.691161
17         1018  0.000000  0.262219          0.000000             1.468717
18         1019  0.527778  0.822661          0.444444            -1.102567
19         1020  0.861111  0.921010          1.000000            -1.513972
20         1021  0.277778  0.092932          0.666667             0.337352
21         1022  0.555556  0.966158          0.666667            -0.588310
22         1023  0.638889  0.125783          0.505556            -0.382607
23         1024  0.694444  0.705978          0.888889             0.851609
24         1025  0.722222  0.465485          1.000000            -0.074053
25         1026  0.388889  0.428882          0.505556             1.160163
26         1027  0.361111  0.465485          0.222222             0.645907
27         1028  0.027778  0.417001          0.666667             0.851609
28         1029  0.972222  0.565318          0.000000            -0.691161
29         1030  0.138889  0.678094          0.333333             0.440204
30         1031  0.449383  0.540205          0.333333             0.131650
31         1032  0.194444  0.447745          0.505556             1.468717
32         1033  0.444444  0.017478          0.666667             0.131650
33         1034  0.055556  0.693455          0.666667             1.057312
34         1035  0.449383  0.749437          0.505556             0.440204
35         1036  0.333333  0.018909          0.333333            -0.382607
36         1037  0.194444  0.531263          0.666667             1.468717
37         1038  0.666667  0.047772          0.505556            -0.896864
38         1039  0.000000  0.465485          0.222222            -1.411121
39         1040  0.449383  0.433443          0.555556            -1.308269
40         1041  0.722222  0.361987          0.111111             0.131650
41         1042  0.138889  0.146065          1.000000            -1.102567
42         1043  0.166667  0.685189          0.888889             0.131650
43         1044  0.916667  0.131200          0.444444             0.851609
44         1045  0.333333  0.423938          0.555556             0.131650
45         1046  0.416667  0.028661          0.333333             1.160163
46         1047  0.944444  0.290982          0.505556             0.131650
47         1048  0.055556  0.714998          0.505556            -1.411121
48         1049  0.000000  0.576997          0.666667            -1.411121
49         1050  0.449383  0.243772          0.888889             1.263015